<div class="col-md-12">
  <nav>
    <ol class="breadcrumb bg-white">
      <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
      <li class="breadcrumb-item active">Listagem</li>
    </ol>
  </nav>
  <div class="row mb-2">
    <div class="col-md">
      <h1 class="h5 border-left pl-2">
        Lista de Pedidos Montagem
      </h1>
    </div>
  </div>
  <div id="table" class="table-responsive">
    <table class="table table-borderless table-sm">
      <thead>
        <tr class="bg-info text-light">
          <th>PEDIDO</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itensMontagem" >
          <td>N.º {{ item.idPedido }} - {{ item.nome }}<br>
            <div style="font-weight: bold;">{{ item.itens }}</div>
            <div>{{ item.retiradaProduto }}</div>
          </td>
          <td>
            <button  (click)="editar(item.idPedido)" class="btn btn-outline-info btn-sm"><i class="far fa-edit"></i>Entregar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-body">
    <ng-template #loading>
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </ng-template>
  </div>
</div>



