<div class="col-md-12">
  <nav>
    <ol class="breadcrumb bg-white">
      <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
      <li class="breadcrumb-item active">Listagem</li>
    </ol>
  </nav>
  <div class="row mb-4">
    <div class="col-md">
      <h1 class="h5 border-left pl-2">
        Lista de Itens
      </h1>
    </div>
    <div class="col-md">
      <button routerLink="new" class="btn btn-primary float-right">
        <i class="fas fa-user-plus"></i> Cadastrar Novo Item
      </button>
    </div>
  </div>
  <div id="table" class="table-responsive">
    <table class="table table-borderless">
      <thead>
        <tr class="bg-info text-light">
          <th>ID</th>
          <th>Descrição</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itens" >
          <td>{{ item.id }}</td>
          <td>{{ item.descricao }} </td>
          <td>{{ item.status }}</td>
          <td>
            <button  (click)="editar(item.id)" class="btn btn-outline-info btn-sm"><i class="far fa-edit"></i>Editar</button>
            <button  data-toggle="modal" data-target="#ModalExclusao" class="btn btn-outline-danger btn-sm"><i class="fas fa-user-slash"></i>Inativar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-body">
    <ng-template #loading>
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </ng-template>
  </div>
</div>



